[Unit]
Description=BWDB
Requires=network.target

[Service]
Type=simple
WorkingDirectory=/usr/opt/vertcore
ExecStart=/usr/bin/bwdb 
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=15
User=vertcore
ExecStartPre=/bin/mkdir -p /run/bwdb
ExecStartPre=/bin/chown vertcore:vertcore /run/bwdb
ExecStartPre=/bin/chmod 755 /run/bwdb
PermissionsStartOnly=true
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
